bin/
mockserver/log.log
mockserver/target/
mockserver/target-eclipse/classes/
mockserver/target-eclipse/
mockserver/web-app/WEB-INF/
webserver/target/
webserver/bin/
webserver/stacktrace.log
webserver/web-app/WEB-INF/classes/
webserver/web-app/reports/
primary/target/
primary/bin/
primary/stacktrace.log
primary/web-app/WEB-INF/classes/
primary/web-app/reports/
primary/export.log
primary/web-app/images/labels
primary/web-app/images/labelsnull
primary/test/*.pdf
log.log
target/
web-app/WEB-INF/
target/
stacktrace.log
web-app/WEB-INF/classes/
web-app/reports/
webserver/target-eclipse/
webserver/.settings
webserver/.classpath
webserver/.project
webserver/.classpath
webserver/.project
primary/target-eclipse/
primary/.settings
primary/.project
primary/.classpath
primary/cobertura.ser
primary/*.sublime-*
*.DS_Store
*.idea/
*.iml
*.ipr
*.iws
projectFilesBackup
.classpath
.project
.settings
